
l {
  display: block;
  word-break: break-all;
}


lg {
display: block;
padding-top:.5em;
padding-bottom: .5em;
}

vocal {
  margin:5em;
  padding:1em;
  border-style: dotted;
      background-color: lightblue;

}
